- if @comment.errors.any?
  = turbo_stream.replace @comment, partial: 'comments/edit', locals: { blog: @blog, comment: @comment }
- else
  = turbo_stream.replace "blog_comment_#{@comment.id}", partial: 'comments/comment', locals: { blog: @blog, comment: @comment }
  